@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  background: #0a0a0a;
  transition: 1s;
  color: #fff;
}

.box-container {
  width: 1270px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  transition: 1s;
}

img {
  max-width: 100%;
  height: auto;
}

*:focus {
  outline: none !important;
}

textarea:focus,
input:focus {
  outline: none !important;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Trigger menu overly */
.hidden {
  display: none !important;
}
.app-menu-trigger {
  display: flex !important;
}

.trigger-menu {
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
}

/* overly */
.overly {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  opacity: 0.7;
  transform-origin: left;
  transform: scaleX(1);
  transition: 1s;
  visibility: visible;
  z-index: 999;
}
.overly-out {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0;
  transform-origin: left;
  transform: scaleX(0);
  transition: 1s;
  visibility: hidden;
  z-index: 999;
}

.ant-spin-dot-item {
  background-color: #fff !important;
}
.ant-input-affix-wrapper,
input[type="number"],
input[type="password"],
input[type="email"],
input[type="text"] {
  min-height: 50px !important;
  border-radius: 0px !important;
  border: none !important;
  background: #171717 !important;
  border-radius: 5px;
  border: none;
  color: white;
}

.ant-input-password-icon {
  color: #fff !important;
}

.hidden-element {
  visibility: hidden;
  opacity: 0;
}
.block-element {
  visibility: visible;
  opacity: 1;
}

.new-chat-input input[type="text"],
.chat-box-search-input input[type="text"] {
  background-color: #2e2e2f !important;
  color: #fff !important;
  border: none !important;
}

.custom-textarea::placeholder {
  color: #bfbfbf !important; /* White placeholder text */
  opacity: 1; /* Ensure full visibility */
}

.create-activity-input,
#startTime,
.new-chat-input ::placeholder,
.chat-box-search-input ::placeholder {
  color: #bfbfbf !important;
}
.new-chat-input :focus,
.chat-box-search-input :focus {
  outline: "none" !important;
}

/* Target the placeholder inside the TimePicker */
.create-activity-input input::placeholder {
  color: #a0a0a0 !important; /* Change this to your desired placeholder color */
  opacity: 1; /* Ensure the placeholder is fully visible */
}

.create-an-activity input {
  background-color: transparent !important;
  border: 1px solid #fff !important;
}
.create-an-activity input::placeholder {
  color: #fff;
}
.create-an-activity input:focus {
  outline: 1px solid inherit !important;
}

.activities-form-input .ant-form-item-control-input-content,
.activities-form-input .ant-picker-input,
.activities-form-input .ant-select-selector {
  background: transparent !important;
  border-radius: 5px !important;
  border-color: #fff !important;
}

.activities-form-input .ant-select-selection-placeholder {
  color: gray !important; /* Change placeholder color */
}

.activities-form-upload .ant-upload.ant-upload-select {
  width: 100%;
}

.activities-form-input .ant-form-item-control-input-content::placeholder,
.activities-form-input .ant-picker-input::placeholder,
.activities-form-input .ant-select-selector::placeholder {
  color: #fff !important;
}
.ant-select-selector input::placeholder {
  color: red !important;
}

.ant-picker-outlined {
  background: #171717 !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: auto !important;
}

.create-activity-input-filter .ant-select-selector {
  background: transparent !important;
  color: white !important;
}

.create-activity-input-filter .ant-select-selection-placeholder {
  color: #bfbfbf !important;
}

.ant-form-item-control-input-content {
  /* border: none !important;
  background: #0a0a0a !important; */
}
.ant-picker-input {
  border: none !important;
  background: #171717 !important;
}
.ant-select-selector {
  /* border: auto !important;
  background: #0a0a0a !important; */
}

::-webkit-input-placeholder {
  color: #bfbfbf !important;
}

:where(
    .css-dev-only-do-not-override-a6nz8w
  ).ant-select-single.ant-select-lg.ant-select-show-arrow
  .ant-select-selection-item,
:where(
    .css-dev-only-do-not-override-a6nz8w
  ).ant-select-single.ant-select-lg.ant-select-show-arrow
  .ant-select-selection-search,
:where(
    .css-dev-only-do-not-override-a6nz8w
  ).ant-select-single.ant-select-lg.ant-select-show-arrow
  .ant-select-selection-placeholder {
  padding-inline-end: 18px;
  color: #bfbfbf;
}

:where(
    .css-dev-only-do-not-override-a6nz8w
  ).ant-select-single.ant-select-show-arrow
  .ant-select-selection-item,
:where(
    .css-dev-only-do-not-override-a6nz8w
  ).ant-select-single.ant-select-show-arrow
  .ant-select-selection-search,
:where(
    .css-dev-only-do-not-override-a6nz8w
  ).ant-select-single.ant-select-show-arrow
  .ant-select-selection-placeholder {
  padding-inline-end: 18px;
  color: #bfbfbf;
}

.payment-form .ant-form-item-control-input-content {
  background: transparent !important;
}

:where(.css-dev-only-do-not-override-1wixdag).ant-radio-button-wrapper:not(
    :first-child
  )::before {
  width: 0px !important;
}

:where(.css-dev-only-do-not-override-1wixdag).ant-radio-button-wrapper {
  border: 1px solid #d3d3d3;
  border-inline-start-width: 1px !important;
  border-inline-start-width: 1px;
  border-inline-end-width: 1px;
  border-inline-end-width: 1px;
}

:where(.css-dev-only-do-not-override-1wixdag).ant-slider
  .ant-slider-handle::after {
  content: "";
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  width: 10px;
  height: 10px;
  background-color: #7dff19 !important;
  box-shadow: 0 0 0 2px #7dff19 !important;
  outline: 0px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: inset-inline-start 0.2s, inset-block-start 0.2s, width 0.2s,
    height 0.2s, box-shadow 0.2s, outline 0.2s;
}

:where(.css-dev-only-do-not-override-1wixdag).ant-collapse
  .ant-collapse-content
  > .ant-collapse-content-box {
  padding: 0 !important;
}

:where(.css-dev-only-do-not-override-1wixdag).ant-collapse
  .ant-collapse-content {
  color: #434649;
  background-color: none !important;
  border-top: none !important;
}

/* -----------Search---------- */
/* Step13.css */
.custom-select .ant-select-selector {
  border: none !important; /* Remove border */
  box-shadow: none !important; /* Remove box shadow */
  height: 50px !important; /* Set fixed height */
  padding: 10px !important; /* Add padding for better appearance */
  background-color: #171717 !important; /* Set background color */
  color: #fff !important; /* Set text color to white */
}

.custom-select .ant-select-selection-placeholder {
  line-height: 50px !important; /* Center placeholder vertically */
  color: #fff !important; /* Set placeholder color to white */
}

.custom-select .ant-select-selection-search-input {
  height: 50px !important; /* Set input height */
  line-height: 50px !important; /* Center text vertically */
  color: #fff !important; /* Set text color to white */
}

/* Remove focus outline */
.custom-select .ant-select-selector:focus,
.custom-select .ant-select-focused .ant-select-selector {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

/* Dropdown menu styling */
.custom-select .ant-select-dropdown {
  background-color: #171717 !important; /* Set dropdown background color */
  color: #fff !important; /* Set dropdown text color */
}

.custom-select .ant-select-item {
  color: #fff !important; /* Set dropdown item text color */
}

.custom-select .ant-select-item-option-selected {
  background-color: #333 !important; /* Set selected item background color */
}

.custom-select .ant-select-item-option-active {
  background-color: #444 !important; /* Set hover item background color */
}

/* Step2.css */
.custom-datepicker .ant-picker {
  border: none !important; /* Remove border */
  box-shadow: none !important; /* Remove box shadow */
  background-color: #171717 !important; /* Set background color */
  color: #fff !important; /* Set text color to white */
}

.custom-datepicker .ant-picker-input > input {
  color: #fff !important; /* Set text color to white */
}

.custom-datepicker .ant-picker-suffix,
.custom-datepicker .ant-picker-clear {
  color: #fff !important; /* Set icon color to white */
}

.custom-datepicker .ant-picker-focused {
  box-shadow: none !important; /* Remove focus shadow */
}

/* Dropdown calendar styling */
.custom-datepicker .ant-picker-dropdown {
  background-color: #171717 !important; /* Set dropdown background color */
  color: #fff !important; /* Set dropdown text color */
}

.custom-datepicker .ant-picker-cell-inner {
  color: #fff !important; /* Set calendar text color */
}

.custom-datepicker .ant-picker-cell:hover .ant-picker-cell-inner {
  background-color: #333 !important; /* Set hover background color */
}

.custom-datepicker .ant-picker-cell-selected .ant-picker-cell-inner {
  background-color: #444 !important; /* Set selected cell background color */
}

/* update add schools */
.update-add-custom-input input[type="text"] {
  background-color: #2e2e2e !important;
  color: white;
}

.update-add-custom-select-input input[type="text"] {
  background-color: #2e2e2e !important;
  color: white;
}

.custom-select .ant-select-selector {
  background-color: #1f1f1f !important; /* Dark gray */
  /* border: 2px solid #7a32ff !important; */
  color: #fff !important;
  width: 100%;
}
